@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600&display=swap');

$color-white: #fff;
$color-unknown: #788C89;
$color-1: #c8eae4;
$color-2: #08B1A1;
$color-3: #59858B;
$color-4: #616E86;

$font-color-1: #414447;
$font-color-2: #a5a6a7;

$font-assistant: 'Assistant', sans-serif;