@import '../../style/variables';

.Homepage {
    min-height: 200vh;

    .Homepage-header {
        background: url(../../style/assets/cover.png) no-repeat bottom center/cover;
        height: 75vh;
    }

    .features-strip {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
        margin-bottom: 30px;

        .features-strip_icons {
            display: flex;
            justify-content: space-evenly;
            width: 800px;

            .features-strip_icon {
                display: flex;
                width: 100px;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $font-color-2;
            }

            .icon1 {
                background: url(../../style/assets/icons1.png) no-repeat center/contain;
            }

            .icon2 {
                background: url(../../style/assets/icons2.png) no-repeat center/contain;
            }

            .icon3 {
                background: url(../../style/assets/icons3.png) no-repeat center/contain;
            }

            .icon4 {
                background: url(../../style/assets/icons4.png) no-repeat center/contain;
            }

            .icon5 {
                background: url(../../style/assets/icons5.png) no-repeat center/contain;
            }

        }
    }

    .homepage-shutout {
        background-color: $color-1;
        height: 40vh;
        display: flex;
        justify-content: space-evenly;

        .homepage-shutout_text {
            display: flex;
            align-items: center;
            color: $font-color-2;
            font-weight: bold;
            width: 400px;

            span {
                text-align: start;
                display: inline-block;
            }
        }
    }
}